Data Wrangling II
Create an “Academic performance” dataset of students and perform the following operations using
Python.
1. Scan all variables for missing values and inconsistencies. If there are missing values and/or
inconsistencies, use any of the suitable techniques to deal with them.
2. Scan all numeric variables for outliers. If there are outliers, use any of the suitable
techniques to deal with them.
3. Apply data transformations on at least one of the variables. The purpose of this
transformation should be one of the following reasons: to change the scale for better
understanding of the variable, to convert a non-linear relation into a linear one, or to
decrease the skewness and convert the distribution into a normal distribution.
Reason and document your approach properly.

In [2]:
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("/content/sample_data/AcademicPerformance.csv")

In [5]:
print(df)

      gender race/ethnicity parental level of education         lunch  \
0     female        group B           bachelor's degree      standard
1     female        group C                some college      standard
2     female        group B             master's degree      standard
3       male        group A          associate's degree  free/reduced
4       male        group C                some college      standard
...      ...            ...                         ...           ...
2235     NaN            NaN                         NaN           NaN
2236     NaN            NaN                         NaN           NaN
2237     NaN            NaN                         NaN           NaN
2238     NaN            NaN                         NaN           NaN
2239     NaN            NaN                         NaN           NaN

     test preparation course  Year_Birth  math score reading score  \
0                       none      1970.0        72.0            72
1                  completed      1961.0         NaN            na
2                       none      1958.0        90.0            95
3                       none      1967.0         NaN           NaN
4                       none      1989.0        76.0            78
...                      ...         ...         ...           ...
2235                     NaN         NaN         NaN           NaN
2236                     NaN         NaN         NaN           NaN
2237                     NaN         NaN         NaN           NaN
2238                     NaN         NaN         NaN           NaN
2239                     NaN         NaN         NaN           NaN

     writing score Dt_Admission College_Fees
0               74      6/16/14  $84,835.00
1                A      6/15/14  $57,091.00
2               93      5/13/14  $67,267.00
3               44   05-11-2014  $32,474.00
4               75   04-08-2014  $21,474.00
...            ...          ...          ...
2235           NaN          NaN          NaN
2236           NaN          NaN          NaN
2237           NaN          NaN          NaN
2238           NaN          NaN          NaN
2239           NaN          NaN          NaN

[2240 rows x 11 columns]

In [ ]:
print(df["math score"])

0       72.0
1        NaN
2       90.0
3        NaN
4       76.0
        ...
2235     NaN
2236     NaN
2237     NaN
2238     NaN
2239     NaN
Name: math score, Length: 2240, dtype: float64

In [ ]:
print(df['math score'].isnull())

0       False
1        True
2       False
3        True
4       False
        ...
2235     True
2236     True
2237     True
2238     True
2239     True
Name: math score, Length: 2240, dtype: bool

In [6]:
print(df['reading score'])

0        72
1        na
2        95
3       NaN
4        78
       ...
2235    NaN
2236    NaN
2237    NaN
2238    NaN
2239    NaN
Name: reading score, Length: 2240, dtype: object

In [7]:
print(df['reading score'].isnull())

0       False
1       False
2       False
3        True
4       False
        ...
2235     True
2236     True
2237     True
2238     True
2239     True
Name: reading score, Length: 2240, dtype: bool

In [8]:
dataset = [11,41,20, 3, 101, 55, 68, 97,99,6]

In [9]:
sorted(dataset)

[3, 6, 11, 20, 41, 55, 68, 97, 99, 101]

In [10]:
quartile1 , quartile3 = np.percentile(dataset, [25, 75])

In [11]:
print(quartile1, quartile3)

13.25 89.75

In [12]:
iqr = quartile3 - quartile1

In [13]:
print(iqr)

76.5

In [15]:
lower_bound_value = quartile1 - (1.5 * iqr)
upper_bound_value = quartile3 + (1.5 * iqr)

In [16]:
print(lower_bound_value, upper_bound_value)

-101.5 204.5

Extract the year of admission from the 'Dt_Admission' column and store it in a new column called 'Year'.

In [17]:
from datetime import date
df['age'] = date.today().year - df['Year_Birth']

Calculate the elapsed time since admission by subtracting the admission year from the current year, and store it in a new column called 'E_L'.

In [18]:
df['Year'] = pd.DatetimeIndex(df['Dt_Admission']).year
df['E_L'] = date.today().year-df['Year']

In [19]:
df.head(5)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,Year_Birth,math score,reading score,writing score,Dt_Admission,College_Fees,age,Year,E_L
0,female,group B,bachelor's degree,standard,none,1970.0,72.0,72,74,6/16/14,"$84,835.00",54.0,2014.0,10.0
1,female,group C,some college,standard,completed,1961.0,NaN,na,A,6/15/14,"$57,091.00",63.0,2014.0,10.0
2,female,group B,master's degree,standard,none,1958.0,90.0,95,93,5/13/14,"$67,267.00",66.0,2014.0,10.0
3,male,group A,associate's degree,free/reduced,none,1967.0,NaN,NaN,44,05-11-2014,"$32,474.00",57.0,2014.0,10.0
4,male,group C,some college,standard,none,1989.0,76.0,78,75,04-08-2014,"$21,474.00",35.0,2014.0,10.0

In [23]:
df['Fees$'] = df['College_Fees'].str.replace(',', '').str.replace('$', '').str.replace('.', '').fillna(0).astype(int)
df['Fees_M$'] = df['Fees$'].apply(lambda X:round(X/1000000))

In [24]:
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,Year_Birth,math score,reading score,writing score,Dt_Admission,College_Fees,age,Year,E_L,Fees$,Fees_M$
0,female,group B,bachelor's degree,standard,none,1970.0,72.0,72,74,6/16/14,"$84,835.00",54.0,2014.0,10.0,8483500,8
1,female,group C,some college,standard,completed,1961.0,NaN,na,A,6/15/14,"$57,091.00",63.0,2014.0,10.0,5709100,6
2,female,group B,master's degree,standard,none,1958.0,90.0,95,93,5/13/14,"$67,267.00",66.0,2014.0,10.0,6726700,7
3,male,group A,associate's degree,free/reduced,none,1967.0,NaN,NaN,44,05-11-2014,"$32,474.00",57.0,2014.0,10.0,3247400,3
4,male,group C,some college,standard,none,1989.0,76.0,78,75,04-08-2014,"$21,474.00",35.0,2014.0,10.0,2147400,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
2236,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
2237,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
2238,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
2239,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0

In [25]:
df.head(5)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,Year_Birth,math score,reading score,writing score,Dt_Admission,College_Fees,age,Year,E_L,Fees$,Fees_M$
0,female,group B,bachelor's degree,standard,none,1970.0,72.0,72,74,6/16/14,"$84,835.00",54.0,2014.0,10.0,8483500,8
1,female,group C,some college,standard,completed,1961.0,NaN,na,A,6/15/14,"$57,091.00",63.0,2014.0,10.0,5709100,6
2,female,group B,master's degree,standard,none,1958.0,90.0,95,93,5/13/14,"$67,267.00",66.0,2014.0,10.0,6726700,7
3,male,group A,associate's degree,free/reduced,none,1967.0,NaN,NaN,44,05-11-2014,"$32,474.00",57.0,2014.0,10.0,3247400,3
4,male,group C,some college,standard,none,1989.0,76.0,78,75,04-08-2014,"$21,474.00",35.0,2014.0,10.0,2147400,2